/data
/outputs
/multirun
/venv
__pycache__
.DS_Store
.idea
.vscode
# Ignore everything in results
results/**
!results/
!results/**/
!results/**/results.json
.env
# ignore files that start with test_
test_*.out
test_*.err
/models
cache.db
/logs
src/tests/integration/.benchmarks
src/tests/integration/data
src/tests/integration/results
