repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: Sort Python imports
        args: ["--profile", "black", "--filter-files"]

  - repo: https://github.com/myint/autoflake
    rev: v2.2.0
    hooks:
      - id: autoflake
        name: Remove unused imports and variables
        args: [
          "--remove-all-unused-imports",
          "--remove-unused-variables",
          "--ignore-init-module-imports",
          "--in-place"
        ]

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        name: Format Python code
        language_version: python3

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        name: Format with Prettier
        exclude: '\.py$'  # Let Black handle Python files
        additional_dependencies:
          - prettier@2.8.8
